.google-signin {
  text-align: center;
  color: aliceblue;
  margin-top: 40px;
}

.user-signedin {
  position: relative;
  text-align: center;
  color: aliceblue;
  margin-top: 40px;
  right: 20%;
}

.signin-button {
  margin-left: 20px;
  margin-right: 20px;
}
