.nav-bar-container {
  width: 80vw;
  left: 10%;
  height: 58px;
  background-color: rgba(52, 58, 64, 1);
  border-radius: 6px;
}

li {
  color: rgba(255, 255, 255, 1);
  margin-left: 50px;
}

li,
.under {
  text-decoration: underline rgba(52, 58, 64, 1);
}

.login-button {
  position: absolute;
  right: 40px;
}
