.profile-title {
  text-align: center;
  color: white;
  margin-top: 30px;
}

.user-displayname-container {
  position: relative;
  top: 30px;
}

.profile-form-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 26px;
}

.form-control.profile-username-input {
  height: 60px;
  background-color: #15202b;
  color: #cccccc;
}

.profile-save-button {
  position: absolute;
  right: 18px;
  top: 130px;
}

.username-error {
  color: red;
}

.profile-pic-container {
  text-align: center;
  position: relative;
  top: 30px;
}

.profile-pic {
  border-radius: 50%;
  height: 120px;
}

.pic-submit-button,
.pic-uploader {
  margin-top: 20px;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.pic-upload-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-pic-uploader {
  position: absolute;
  border-radius: 50%;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.profile-pic-container:hover .profile-pic {
  opacity: 0.3;
}

.profile-pic-container:hover .profile-pic-uploader {
  opacity: 0.5;
}
